* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: blanchedalmond;
}

nav {
    display: flex;
    justify-content: center;
    align-items: end;
    padding-top: 50px;
    gap: 16px;
}

button {
    font: inherit;
    font-size: 100%;
    padding: 5px 10px;
    border-bottom: none;
}

.selected {
    background-color: black;
    color: white;
}

#content {
    background: url("images/restaurant.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 50px;
    height: 100vh;
    padding-bottom: 70px;
}

#content > .card {
    margin: 10px 150px;
    border: 2px solid black;
    background-color: lightblue;
    color: brown;
    border-radius: 15px;
}

.restaurant-name {
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    font-style: italic;
    font-size: 4rem;
}

.restaurant-info {
    padding: 50px;
    font-size: 1.5rem;
    text-align: justify;
    font-style: oblique;
}

.restaurant-schedule-header {
    font-weight: bold;
    font-size: 2.4rem;
    text-align: center;
}

.card-header {
    font-weight: bold;
    font-size: 2.4rem;
    text-align: center;
    padding-bottom: 10px;
}
ul {
    text-align: center;
    margin: 20px 0;
    font-size: 1.7rem;
    list-style-type: none;
}

.restaurant-address {
    padding: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.restaurant-address-header {
    font-weight: bold;
    font-size: 2.2rem;
    margin-bottom: 10px;
}

.address {
    font-size: 1.7rem;
}