* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: blanchedalmond;
}

nav {
    padding-top: 50px;
    left: 50%;
}

button {
    font: inherit;
    font-size: 100%;
    padding: 15px 30px;
    border-bottom: none;
}

.selected {
    background-color: black;
    color: white;
}

#content {
    background: url("images/restaurant.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 50px;
    height: 100%;
    width: 1900px;
    margin: 0 auto;
    padding-bottom: 70px;
}

.card {
    margin: 10px 150px;
    border: 2px solid black;
    background-color: lightblue;
    color: brown;
    border-radius: 15px;
}

.restaurant-name {
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    font-style: italic;
    font-size: 4rem;
}

.restaurant-info {
    padding: 50px;
    font-size: 1.5rem;
    text-align: justify;
    font-style: oblique;
}

.restaurant-schedule-header {
    font-weight: bold;
    font-size: 2.4rem;
    text-align: center;
}

.card-header {
    font-weight: bold;
    font-size: 2.4rem;
    text-align: center;
    padding-bottom: 10px;
}

ul {
    text-align: center;
    margin: 20px 0;
    font-size: 1.7rem;
    list-style-type: none;
}

.restaurant-address {
    padding: 50px;
    text-align: center;
    margin-bottom: 10px;
}

.restaurant-address-header {
    font-weight: bold;
    font-size: 2.2rem;
    margin-bottom: 10px;
}

.address {
    font-size: 1.7rem;
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-shrink: 0;
}

.menu-information-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.menu-information-text {
    padding: 0 35px;
    font-size: 0.9rem;
    text-align: justify;
    line-height: 1.5;
}
.menu-item {
    padding: 10px;
}

.menu-icon-placeholder {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img.menu-icon {
    width: 100%;
    height: 100%;
}

.menu-price {
    text-align: right;
    font-style: italic;
    font-size: 1.1rem;
    padding-right: 10px;
    padding-bottom: 7px;
}

.menu-header {
    text-align: center;
    font-weight: bold;
    padding: 20px;
    font-size: 3.3rem;
    margin: 0 px;
}

.main-menu-header {
    text-align: center;
    font-weight: bold;
    border: 2px solid black;
    background-color: lightblue;
    color: brown;
    border-radius: 15px;
    margin: 0 50px;
    width: 1750px;
    padding: 10px;
    font-size: 4.5rem;
}

.contact-header {
    text-align: center;
    font-weight: bold;
    font-size: 3.5rem;
}

.contact-row {
    display: flex;
    padding: 30px;
}

.contact-label {
    font-weight: bold;
    font-size: 2rem;
}


.contact-field {
    font-size: 2rem;
    padding-left: 10px;
}

.email {
    font-style: italic;
}